*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
    text-decoration: none;
    list-style: none;
    align-items: center;
    

}

body{
    background-color: #1E1E1E;
}

/* HEADER/ NAVBAR */

header{
    background-color: #1E1E1E;
    position: fixed;
    padding: 0px 98px 0px 98px;
    margin: 0;
    width: 100%;
    height: auto;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hb{
    cursor: pointer;
    display: none;
}

.left_nav{
    display: flex;
    align-items: center;
}

.navbar #cu{
    display: none;
}

.navbar{
    display: flex;
    align-items: start;
    margin-left: 57px;
}

.navbar a{
    margin-left: 40px;
    color: #9B9797;
    justify-content: space-between;
}

.navbar a:hover{
    color: #ffffff;
}

.navbar .utama{
    color: #E6B859;
}

.contactUs{
    
    background-color: #E6B859;
    color: #1E1E1E;
    padding: 10px 20px;
    border-radius: 50px;
    
}

.contactUs:hover{
    background-color: #ffffff;
    color:#E6B859;
}

/* banner */
.banner {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-image: url(./../assets/priceList.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.navigation {
    display: flex;
    gap:5px;
    font-size: 24px;
    color: #E6B859;
}

.navigation a{
    color: #E6B859;
}

.caption {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    padding: 100px;
    margin-inline: auto;
    margin-top: 70px;
}

.caption h1{
    font-size: 64px;
    color: #ffffff;
}

.caption span{
    color: #E6B859;
}


/* content */

.content{
    margin: 38px 91px 38px 91px;
}

.right{
    display: flex;
    align-items: center;
}

.right img{
    width: 100%;
    height: auto;
}

.isi{
    margin-bottom: 77px;
}

.isi h1{
    font-size: 48px;
    color: #ffffff;
    border-bottom-style: solid;
    border-color: #E6B859;
    margin-bottom: 1%;
}

.isi p{
    
    height: auto;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.desc{
    width: max-content;
    margin-left: 25px;
}

.price{
    float: right;
}

.price span{
    font-size: 15px;
    color: #ffffff;
}

.price h2{
    font-size: 48px;
    color: #E6B859;
}

/* footer */
footer{
    background-color: #4B4A4A;
    width: 100%;
    height: auto;
    padding: 47px 92px 39px 92px;
    
}

.atas{
    justify-content: space-between;
}

.kiri{
    display: flex;
    align-items: start;
}

.atas h1{
    color: #E6B859;
    font-size: 15px;
}

.atas li {
    padding-top: 19px;
    font-size: 15px;  
}

.atas a{
    color: #ffffff;
}

.atas{
    display: flex;
    align-items: start;
}

.jcc{
    margin-left: 137px;
}

.jcc a:hover{
    color:#E6B859;
}

.legal{
    margin-left: 137px;
}

.legal a:hover{
    color:#E6B859;
}

.socmed{
    margin-top: 71px;
}

.logo{
    display: flex;
    justify-content: space-around;
    padding-top: 19px;
}

footer p{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 63px;
    border-top-style: solid;
    border-color: #E6B859;
    padding-top: 1.4000000000000001vw;
}

@media only screen and (max-width:794px){
    header{
        background-color: #1E1E1E;
        position: fixed;
        padding: 0px 50px 0px 50px;
        margin: 0;
        width: 100%;
        /* height: 93px; */
        text-decoration: none;
        list-style: none;
        flex-direction: row;
        align-items: center;
    }

    .navbar #cu{
        display: flex;
        flex-direction: column;
    }

    .right{
        display: flex;
        justify-content: space-between;
    }

    .hb{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: auto;
        background-color: #4B4A4A;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        transition: all .50s ease;
    }

    .navbar a{
        font-size: 24px;
        margin-bottom: 20px;
        margin-left: 0;
        display: block;
        color: #9B9797;
        
    }

    .navbar.activate{
        right: 2%;
    }

    .navbar a:hover{
        color: #ffffff;
    }

    .navbar .homePage{
        color: #E6B859;
    }

    .contactUs{
        display: none;
    }
    
    /* banner */
    .banner {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        background-image: url(./../assets/priceList.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    
    .navigation {
        display: flex;
        gap:5px;
        font-size: 15px;
        color: #E6B859;
    }
    
    .navigation a{
        color: #E6B859;
    }
    
    .caption {
        display: flex;
        flex-wrap: wrap;    
        justify-content: space-between;
        padding: 50px;
        margin-inline: auto;
        margin-top: 70px;
    }
    
    .caption h1{
        font-size: 48px;
        color: #ffffff;
    }
    
    .caption span{
        color: #E6B859;
    }
    
    
    /* content */
    
    .content{
        margin: 38px 30px 38px 30px;
    }
    
    .right{
        display: flex;
        flex-direction: column;
        
    }
    
    .right img{
        width: 80%;
        height: auto;
    }

    .isi{
        margin-bottom: 77px;
    }
    
    .isi h1{
        font-size: 24px;
        color: #ffffff;
        border-bottom-style: solid;
        border-color: #E6B859;
        margin-bottom: 1%;
    }
    
    .isi p{
        
        height: auto;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    .desc{
        
        width: auto;
        margin-left: 25px;
        margin-top: 10px;
    }
    
    .price{
        float: right;
    }
    
    .price span{
        font-size: 15px;
        color: #ffffff;
    }
    
    .price h2{
        font-size: 24px;
        color: #E6B859;
    }
    
    /* footer */
    footer{
        background-color: #4B4A4A;
        width: 100%;
        height: auto;
        padding: 30px ;
        
    }

    footer .kiri img{
        width: 30%;
        height: auto;
    }
    .atas{
        justify-content: space-between;
    }

    .kiri{
        display: flex;
        align-items: start;
    }

    .atas h1{
        color: #E6B859;
        font-size: 10px;
    }

    .atas li {
        padding-top: 19px;
        font-size: 10px;  
    }

    .atas a{
        color: #ffffff;
    }

    .atas{
        display: flex;
        align-items: start;
    }

    .jcc{
        margin-left: 20px;
    }

    .legal{
        margin-left: 20px;
    }

    .socmed{
        margin-top: 71px;
        text-align: center;
    }

    .logo{
        display: flex;
        justify-content: space-around;
        padding-top: 19px;
    }

    footer p{
        display: flex;
        justify-content: center;
        color: #ffffff;
        margin-top: 63px;
        border-top-style: solid;
        border-color: #E6B859;
        padding-top: 28px;
    }
}